body{
  background-image: url("https://static.pexels.com/photos/2097/desk-office-pen-ruler.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.login{
  margin-top: 20vh;
}

.brand-logo{
  height: 5%;
  width: 100;
}
